.home_container {
    width: 100%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container p {
    margin-bottom:  1.5em;
    color: #7b7b7b;
}