.footer {
    background-color: #222;
    color: #fff;
    padding: 2em;
    text-align: center;
}

.div_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    margin: 0 auto;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.item {
    margin-right: 1em;
    text-decoration: none;
}

.copy_right {
    color: #fff;
}

.copy_right span {
    font-weight: bold;
    color: #fff;
}