.navbar {
    display: flex;
    justify-content:  space-between;
    background-color: #D6EFFF;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.item a:hover {
    color: #009DFF;
}